
#instanceDiv {
    width: 100%;
    height: 100%;
    /* margin: 0; */
    /* display: inline; */
  }
  
  
  #reduceInstanceDiv {
  
    height: 100%;
    float: right;
  }
  
  #instanceDiv svg{
   
    padding-right: 5px;
    height: 100%;
  
  
  }
  
  #reduceInstanceDiv svg {
    height: 100%;
    width: 100%;
    padding-right: 5px;
  }
  
  
  